{% extends 'base.html' %}

{% block content %}
	
	<section id="corpo" >
	<article id="noticiaprincipal">
	<header id="cabecalhoartigo">
	<hgroup>
	<h3> Tecnologia > &nbsp;&nbsp;&nbsp;&nbsp;Inovações</h3>
	<h1>Saiba tudo sobre o TCC</h1>
	<h2>por Guilherme H. V. Pereira e Matheus Z. Miranda </h2>
	<h3 class="direita">Atualizado em 31/Março/2017</h3>

	</hgroup>

	</header>



	<h2>O que é</h2>
	<p>1 miojo (comum sabor que desejar)
	<br/>1 colher de requeijão
	<br/>1 colher de massa de tomate
	<br/>Água
	<br/>Se desejar coloque pedaços de queijo de sua preferência </p>


	<h2>Data de lançamento</h2>
	<p>
1-Junte uma vasilha para microondas funda e pequena
<br/>2-Quebre o miojo em partes pequenas e junte água que deve apenas cobrir a altura do macarrão
<br/>3-Junte o tempero, requeijão e a massa de tomate tentando dissolve-los ao máximo
<br/>4-Agora se desejar coloque pedações de queijo para dar um novo sabor
<br/>5-Após o preparo no microondas deixe-o por 1 minutos dentro do mesmo
<br/>6-Retire misture bem na própria vasilha utilizada sirva
<br/>6-Você terá um prato sofisticado e diferente
<br/>7-Para aumentar as porções é só dobrar os ingredientes da receita</p>

	</article>
	</section>


	<aside id="lateral" >

	<h1>Sobre</h1>

	<h2>Como funciona</h2>
	<p>	<p>1 miojo (comum sabor que desejar)
	<br/>1 colher de requeijão
	<br/>1 colher de massa de tomate
	<br/>Água
	<br/>Se desejar coloque pedaços de queijo de sua preferência </p>

	<h2>O que você pode fazer com o TCC</h2>
		<p>
1-Junte uma vasilha para microondas funda e pequena
<br/>2-Quebre o miojo em partes pequenas e junte água que deve apenas cobrir a altura do macarrão
<br/>3-Junte o tempero, requeijão e a massa de tomate tentando dissolve-los ao máximo
<br/>4-Agora se desejar coloque pedações de queijo para dar um novo sabor
<br/>5-Após o preparo no microondas deixe-o por 1 minutos dentro do mesmo
<br/>6-Retire misture bem na própria vasilha utilizada sirva
<br/>6-Você terá um prato sofisticado e diferente
<br/>7-Para aumentar as porções é só dobrar os ingredientes da receita</p>


	</aside>
{% endblock content %}